<div id="loginDiv">
  <div style="border: 1px solid;margin-left: 275px;padding: 25px;width: 400px;height: 200px;">
    <h2 style="margin: 5px;text-align: center;">Sign in</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
        <div style="margin-left: 200px;margin-top: 5px;"><%= submit_tag("Login", :id=>"login",:class => "btn-share")%></div>
    <% end %>
  </div>
</div>